<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serray Main</title>
</head>
<body>
<div style="text-align: center">
    <h1>Serray!</h1>
    <span th:text="'내 상태 확인 [' + ${user.state} + ']'"></span> <br />
    <span>내 회원 상태 변경하기</span>
    <a th:if="${!user.state.toString().equals('가입')}" th:href="'/user/modify/' + ${user.state} + '?state=가입'" th:text="가입">--</a>
    <a th:if="${!user.state.toString().equals('휴면')}" th:href="'/user/modify/' + ${user.state} + '?state=휴면'" th:text="휴면">--</a>
    <a th:if="${!user.state.toString().equals('탈퇴')}" th:href="'/user/modify/' + ${user.state} + '?state=탈퇴'" th:text="탈퇴"></a>
    <br />
    <a th:href="'/auth/login'" th:text="로그인"></a>
    <br />
    <a th:href="'/user/join'" th:text="회원가입"></a>
    <br />
    <a th:href="'/auth/logout'" th:text="로그아웃"></a>
</div>
</body>
</html>